@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  transition: all 0.3s ease;
}
body{
  
  background-image: linear-gradient( 135deg, #97b1ff 10%, #ffffff 100%)
}
.navbar
{
    background-color: rgb(155, 155, 155);

}

.nav{
    background-color: #f1f1f1
}

header img{
    display:block;margin:auto;width:400px; height:100%; 
}